@keyframes heart-pulse{
    from {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1);
    }
    55% {
        transform: scale(1);
    }
    65% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@keyframes shoe-running {
    from {
        transform: translate(0%) translateY(0%) rotate(0deg);
    }
    25% {
        transform: translate(-50%) translateY(-10%) rotate(35deg);
    }
    45% {
        transform: translate(-20%) translateY(-30%) rotate(-40deg);
    }
    65% {
        transform: translate(0%) translateY(0%) rotate(-50deg);
    }
    to {
        transform: translate(0%) translateY(0%) rotate(0deg);
    }
}

@keyframes cup {
    from {
        transform: scale(1) rotate(0deg);
    }
    40% {
        transform: scale(1.2) rotate(10deg)
    }
    60% {
        transform: scale(1.3) rotate(-10deg);
    }
    to {
        transform: scale(1) rotate(0deg);
    }
}