@media (max-width: 1010px) {
    .container {
        padding: 0 40px;
    }
}
@media (max-width: 780px) {
    .container {
        max-width: 720px;
        padding: 0 40px;
    }
    .promo__wrapper {
        text-align: center;
        align-items: center;
    }
    .benefits {
        &__wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        }
    }
        
    .benefits {
        &__benefit {
            &:last-child {
                margin-top: 20px;
            }
        }
    }

    .consultation {
        .title {
            &_left {
                text-align: center;
            }
        }
        &__descr {
            text-align: center;
            width: 100%;
        }
        .feed-form {
            align-items: center;
            width: 100%;
            margin: 0 auto;
            margin-top: 30px;
            input {
                width: 70%;
            }
        }
        .button_submit {
            width: 70%;
        }
    }
}

@media (max-width: 426px) {
    .header {
        &__official {
            display: none;
            flex-direction: column;
        }
        &__phone {
            margin-top: 15px;
        }
    }
    .promo__icons {
        max-width: 420px;
        flex-wrap: wrap;
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}

@media (max-width: 320px) {
    .promo {
        &__icons {
            max-width: 200px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        &__icon {
            margin-top: 20px;
        }
        &__header {
            font-size: 30px;
            margin-top: 30px;
        }
        &__subheader {
            font-size: 18px;
        }
        &__link {
            margin-top: 30px;
        }
        &__wrapper {
            padding: 0;
        }
    .button_main {
        margin-top: 20px;
        }
    }

    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}