.benefits {
    min-height: 475px;
    padding: 75px 0 65px 0;
    background-color: #F6F6F6;

    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__benefit {
        font-weight: 300;
        font-size: 14px;
        color: $title-color;
        line-height: 18px;
        text-align: center;
        max-width: 280px;

        &:hover {
            .animated {
            transition: 1s all;
                &_cup {
                    animation: cup 1.5s linear 1;
                }

                &_heart {
                    animation: heart-pulse 1s ease-out infinite;
                }

                &_shoe {
                    animation: shoe-running 0.7s linear infinite;
                }
            }
        }

        a {
            text-decoration: none;
            text-decoration-line: underline;
            color: $main-color;
        }

        &_subheader {
            font-weight: 700;
            font-size: 18px;
            margin-top: 35px;
            margin-bottom: 20px;
        }
    }
}