.promo {
    min-height: 650px;
    padding: 20px 0 95px 0;
    background: url(../img/bg/1-pulse-bg.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 90px 0;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        color: white;
        text-transform: uppercase;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        color: white;
        text-transform: uppercase;
    }
    &__icons {
        margin-top: 65px;
        max-width: 455px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 110px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: white;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;

        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        color: white;
        margin-top: 10px;
        a {
            font-weight: 500;
            font-size: 16px;
            color: white;
            text-transform: uppercase;
            &:hover {
                text-transform: none;
            }
        }
    }
    
}