.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    &_left {
        text-align: left;
        color: #FFFFFF;
    }
    &_benefits,
    &_feedback {
        color: $title-color;
        text-align: center;
    }
    &_catalogue {
        text-align: center;
        color: $title-color;
        font-size: 40px;
        font-weight: 400;
        line-height: 45px;
    }
}